<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <style>
        .error-td {
            color: #ff0000;
            font-style: italic;
            font-size: 80%;
        }
    </style>
</head>
<body>

<form method="POST" th:action="@{/user/create-user}" th:object="${userDto}">
    <table>
        <tr>
            <td>Username*:</td>
            <td><input type="text" th:field="*{username}"/></td>
            <td class="error-td" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username Error</td>
        </tr>
        <tr>
            <td>Password*:</td>
            <td><input type="text" th:field="*{password}"/></td>
            <td class="error-td" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password Error</td>
        </tr>
        <tr>
            <td>Email:</td>
            <td><input type="text" th:field="*{email}"/></td>
            <td class="error-td" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email Error</td>
        </tr>
        <tr>
            <td>
                <button type="submit">Submit</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>