<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="POST" th:action="@{/user/create-user}" th:object="${user}" >
    <p>Username: <input type="text" th:field="*{login}" /></p>
    <p>Password: <input type="text" th:field="*{password}" /></p>
    <p>Email: <input type="text" th:field="*{email}" /></p>
    <p><input type="submit" value="Submit" /> <input type="reset" value="Reset" /></p>
</form>
</body>
</html>